*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;

    display: grid;
    grid-template-rows: 10% 80% 10%;
}

#content, img, p, h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}


.header, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 50rem;
}
.header, ul> li{
    margin-top: 2rem;
    margin-left: 10rem;

    font-size: large;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerImage{
    width: 50px;
}

.footerImage:hover{
    transform: scale(1.1);
}


li:hover{
    transform: scale(1.05);
}

.image{
    width: 300px;
    border-radius: 50%;
}

.itemContainer{
    margin-top: 2rem;
    height: 500px;

  display: grid;
  grid-template-columns: 100px  100px 100px 100px ;
  grid-template-rows: 100px 100px ;
  row-gap: 100px ;
  column-gap: 200px ;
}

.menu-para{
    font-weight: bolder;
    margin-left: 4rem;
    margin-top: 5rem;

}
.home-para, .home-para2{
    font-size: 20px;
    text-align: center;
}

.orderHead{
    margin-top: 3rem;
    font-size: 40px;
}
.uber, .doordash{
    width: 150px;
    border-radius: 5px;
}

.uber:hover, .doordash:hover{
    transform: scale(1.05);
}


.orderContainer, .location{
    padding-top: 2rem;
    width: 100%;
    background-color: rgb(78, 73, 73, .3);

    display: flex;
    justify-content: center;
}